@page "/"

@using RedisLeaderboard.Models
@using RedisLeaderboard.Services
@inject Interfaces.ILeaderboardEntryService _leaderboard

<PageTitle>Leader Board</PageTitle>

<h1>Leaderboard</h1>

<button @onclick="LoadEntries">
    Load Results
</button>

@if (leaderboardEntries is not null)
{
    @foreach (var entry in leaderboardEntries)
    {
        <div>
            <h1>@entry.username</h1>
            <h1>@entry.score</h1>
        </div>
    }
}

@code {
    private List<LeaderboardEntryModel> leaderboardEntries;

    //protected override async Task OnInitializedAsync()
    //{
    //leaderboardEntries = await _leaderboard.GetLeaderboardEntries();
    //}

    private async Task LoadEntries()
    {
        leaderboardEntries = await _leaderboard.GetLeaderboardEntries(leaderboardEntries);
    }
}

