h1[emptyLeaderboard] {
    text-align: center;
    font-size: 2em;
}

div[paginate] {
    text-align: center;
}

    div[paginate] button:hover {
        color: grey;
    }

td[delete] span:hover {
    color: red;
    cursor: pointer;
}

div[newEntry] button, button[resetData] {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    padding: 3.5px;
    margin: 5px 0px;
}

    div[newEntry] button:hover, button[resetData]:hover {
        background-color: gainsboro;
    }
