div[paginate] {
    text-align: center;
}

    div[paginate] button:hover {
        color: grey;
    }

td[delete] span:hover {
    color: red;
    cursor: pointer;
}

div[newEntry] button {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    padding: 3.5px;
}

    div[newEntry] button:hover {
        background-color: gainsboro;
    }
